<p>
  <strong>By:</strong>
  <%= comment.commenter %>
</br>
 
  <%= comment.body %>
</p>
<% if user_signed_in? %>
<p>
  <%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>